/* font */
*{
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

/* shared related styles */

*{
    /* margin: 0; */
}

.display-flex{
    display: flex;
}



.grid{
    display: grid;
}





.button-1{
    font-weight: 600;
    font-size: 1.15rem;
    color: #ffffff;
    padding: 16px 70px;
    background-color: #ff6200;
    border: none;
    border-radius: 30px;
}





body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #000000
}

/* share related style end */





/* header related styles */
header{
    background-image: linear-gradient(to bottom, #000000, #434343, #000000);
    background-color: rgba(17, 17, 17, 1);
    margin-bottom: 100px;
}


/* navbar related style */
.navbar{
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}
.brand{
    font-style: italic;
    color: #E6533C;
    font-weight: 800;
    font-size: 2.25rem;
    align-items: center;
}
#nav-ul{
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
}
#nav-ul, .header-li{
    list-style: none;
    padding: 10px 20px;
}
#nav-ul, .header-a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.25rem;
}
.nav-menu{
    display: none;
}
.header-btns{
    grid-template-columns: repeat(2,1fr);
}
.header-li:hover{
    background-color: #E6533C;
    border-radius: 25px;
}

/* navbar related style end */





/* banner related styles */
.banner{
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.banner-title{
    font-weight: 900;
    font-size: 4.87rem;
    color: #ffffff;
}
#shape{
    font-family: "Grey Qo", cursive;
}
.banner-info{
    font-weight: 600;
    color: #ffffff96;
    margin-bottom: 30px;
}
.banner-button-1{
    font-weight: 600;
    font-size: 1.15rem;
    color: #ffffff;
    padding: 20px 40px;
    background-color: #ff6200;
    border: none;
    border-radius: 30px;
}
.banner-button-2{
    font-weight: 600;
    font-size: 1.15rem;
    color: #ffffff;
    padding: 20px 40px;
    background-color: transparent;
    border: 2px solid #c4c4c432;
    border-radius: 30px;
    margin-left: 15px;
}
.banner-img{
    position: relative;
}
.glass-1{
    position: absolute;
    right: 250px;
    bottom: 50px;
    width: 193px;
    height: 98px;
    padding: 8px;
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
    background-color: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(4px);
    border-radius: 12px;
}
.glass-1-c{
    width: 40px;
    height: 40px;
    background: #E6533C;
    border-radius: 50%;
}
.glass-1-items> h3{
    font-weight: 900;
    font-size: 1.25rem;
    color: #FAFAF9;
    margin-bottom: 0;
}
.glass-1-items>p{
    color: rgba(239, 237, 232, 0.65);
    margin-top: 5px;
}
.glass-2{
    position: absolute;
    right: -50px;
    bottom: 350px;
    width: 190px;
    height: 98px;
    /* padding: 10px 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    border-radius: 12px;
}
.glass-2-items> h3{
    font-weight: 900;
    font-size: 1.25rem;
    color: #FAFAF9;
    margin-bottom: 0;
}
.glass-2-items>p{
    font-size: 0.82rem;
    color: rgba(239, 237, 232, 0.65);
    margin-top: 5px;
}


/* banner related style end */




/* main related styles */


/* section-1 related style */

.section-1{
    max-width: 1440px;
    margin: 0 auto;
}


.section-1-items{
    text-align: center;
}
.section-1-title{
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 3rem;
    color: #ffffff;
}
.section-1-info{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 70px;
}

/* section-1 related style end */





/* section-2 related style */


.section-2{
    max-width: 1440px;
    margin: 0 auto;
}
.section-2-all{
    margin-bottom: 100px;
    /* background-color: #141212; */
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
}
.section-2-img{
    border-radius: 50%;
}
.section-2-title{
    font-weight: 600;
    font-size: 1.12rem;
    color: #ffffff;
    margin-bottom: 5px;
}
.section-2-info{
    font-weight: 400;
    font-size: 0.87rem;
    color: rgba(255, 255, 255, 0.5);
}

/* section-2 related style end */



/* section-3 related style */

.section-3{
    max-width: 1440px;
    margin: 0 auto;
}

.section-3-all{
    /* width: 100%; */
    /* height: 370px; */
    background-color: #222222;
    margin: 41px auto;
    padding: 30px 50px 30px;
    border-radius: 18px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}
.section-3-title{
    font-weight: 900;
    font-size: 3rem;
    color: #FFFFFF;
    margin-bottom: 14px;
}
.section-3-info{
    font-weight: 400;
    font-size: 0.88rem;
    color: rgba(255, 255, 255, 0.5);
}
.section-2-img{
    align-items: center;
}
.section-3-img> img{
    height: 312px;
    border-radius: 18px;
    object-fit: none;
    object-position: 66% 33%;
}

/* section-3 related style end */




/* section-4 related style */


.section-4{
    max-width: 1440px;
    margin: 0 auto;
}
.section-4-all{
    /* margin-top: 100px; */
}
.training{
    margin-bottom: 90px;
}
.taining-items>h3{
    font-weight: 900;
    font-size: 3rem;
    color: #FFFFFF;
    margin-bottom: 14px;
}
.taining-items>p{
    font-size: 0.88rem;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 60px;
}





.training-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.training-img-1>img{
    width: 100%;
    height: 201px;
}
.img-color-1{
    width: 100%;
    height: 201px;
    background-color: rgba(6, 255, 210, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}
.training-img-1{
    position: relative;
}
.training-img-1>p{
    font-weight: 500;
    font-size: 0.88rem;
    /* color: #0000; */
    position: absolute;
    left: 24px;
    bottom: 16px;

}
.training-img-2{
    position: relative;
}
.training-img-2>img{
    width: 100%;
    height: 201px;
}
.img-color-2{
    width: 100%;
    height: 201px;
    background-color: rgba(255, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
}
.training-img-2>p{
    font-weight: 500;
    font-size: 0.88rem;
    color: #FFFFFF;
    position: absolute;
    left: 24px;
    top: 16px;

}
.training-img-3{
    position: relative;
}
.training-img-3>img{
    width: 100%;
    height: 201px;
}
.img-color-3{
    width: 100%;
    height: 201px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}
.training-img-3>p{
    font-weight: 500;
    font-size: 0.88rem;
    color: #FFFFFF;
    position: absolute;
    left: 24px;
    bottom: 16px;

}
.training-img-4{
    position: relative;
}
.training-img-4>img{
    width: 100%;
    height: 201px;
}
.img-color-4{
    width: 100%;
    height: 201px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}
.training-img-4>p{
    font-weight: 500;
    font-size: 0.88rem;
    color: #FFFFFF;
    position: absolute;
    right: 24px;
    top: 16px;

}
.training-img-5{
    position: relative;
}
.training-img-5>img{
    width: 100%;
    height: 201px;
}
.img-color-5{
    width: 100%;
    height: 201px;
    background-color: rgba(66, 255, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
}
.training-img-5>p{
    font-weight: 500;
    font-size: 0.88rem;
    color: #FFFFFF;
    position: absolute;
    left: 24px;
    bottom: 16px;

}
.training-img-6{
    position: relative;
}
.training-img-6>img{
    width: 100%;
    height: 201px;
}
.img-color-6{
    width: 100%;
    height: 201px;
    background-color: rgba(0, 71, 255, 0.3);
    position: absolute;
    top: 0;
    left: 0;
}
.training-img-6>p{
    font-weight: 500;
    font-size: 0.88rem;
    color: #FFFFFF;
    position: absolute;
    left: 24px;
    bottom: 16px;

}
.bmi{
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 90px;
}

#bmi-title{

}

.bmi>h2{
    font-weight: 900;
    font-size: 3rem;
    /* text-align: center; */
    color: #FFFFFF;
    margin-bottom: 14px;
}
.bmi>p{
    font-size: 0.88rem;
    /* text-align: center; */
    color: rgba(255, 255, 255, 0.5);
}

/* section-4 related style end */





/* section-5 related style */

.section-5{
    background-color: #222222;
}
.section-5-all{
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px 0;
    justify-content: space-between;
    align-items: center;
    

}


.calculator{
    /* margin: 0; */
    /* margin-bottom: 70px; */
}

.calculator-title{
    font-weight: 900;
    font-size: 1.75rem;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.table,th,td{
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
}
th{
    font-weight: 500;
    color: #FFFFFF;
}
td{
    font-size: 0.87rem;
    color: rgba(255, 255, 255, 0.5);
}





.calculate{
    margin-top: 50px;
}


.calculate-title{
    font-weight: 900;
    font-size: 1.75rem;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.calculate-info{
    /* font-weight: 400; */
    font-size: 0.88rem;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 35px;
}


.calculate-discrimination{
    margin-bottom: 35px;
}

.form-box{
    width: 100%;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 12px;
}

.div-in-1{
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
}
.div-in-2{
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
}

input{
    /* width: 50%; */
    height: 48px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 10px;
}

::placeholder{
    color: rgba(255, 255, 255, 0.6);
}


select{
    width: 250px;
    height: 70px;
    background: rgba(255, 255, 255, 0.1); 
    color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border: none;
    border-radius: 8px;

}






.select-1{
    width: 100%;
    grid-column: span 2;
}


option{
    background: rgba(34, 34, 34, 1);
}



/* section-5 related style end */


/* section-6 related style */


.section-6{
    max-width: 1440px;
    margin: 0 auto;
}
.section-6-items{
    padding: 90px 0;
    /* margin: 0 auto; */
}


.section-6-header{
    text-align: center;
}

.section-6-title{
    font-weight: 900;
    font-size: 3rem;
    color: #FFFFFF;
}

.section-6-info{
    font-size: o.88;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 60px;
}


.section-6-teammates{
    /* width: 100%; */
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    padding: 20px;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}


.section-6-teammate{
    position: relative;
}


#teammate-img{
    width: 100%;
    height: 380px;
    border-radius: 18px;
    object-fit: cover;
}


.teammate-header{
    position: relative;
    position: absolute;
    left: 40px;
    bottom: 35px;
    
}

.teammate-title{
    font-weight: 900;
    font-size: 1.25rem;
    color: #FFFFFF;
    /* margin-bottom: 3px; */
}

.teammate-info{
    font-size: 0.88rem;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: -10px;
}

.teammate-color{
    width: 100%;
    height: 380px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 0;
}


/* section-6 related style end */

/* footer related style */

footer{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-all{
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 65px;
    /* padding: 5px; */
}

.footer-items{
    grid-template-columns: repeat(2,1fr);
}

.footer-info{
    margin-top: -30px;
}

.brand-1{
    font-style: italic;
    color: #E6533C;
    font-weight: 900;
    font-size: 4.34rem;
    align-items: center;
}

.footer-paragraph{
    font-size: 0.88rem;
    color: rgba(255, 255, 255, 0.5);
}

.get-started{
    grid-template-columns: repeat(2,1fr);
}

.get-header{
    font-weight: 700;
    font-size: 2rem;
    color: #FFFFFF;
}

.get-li{
    list-style: none;
    margin-bottom: 20px;
}

.get-a{
    text-decoration: none;
    font-size: 1.44rem;
    color: rgba(255, 255, 255, 0.5);
}

hr{
    margin-top: 80px;
    border: none;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-end{
    margin-top: 36px;
    text-align: center;
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.1);
    /* margin-bottom: 35px; */
}

.hfd{
    margin-bottom: 35px;
}


/* footer related style end */



/* tab responsive */
@media screen and (min-width:577px) and (max-width:992px) {
    .banner{
        flex-direction: column;
        align-items: center;
    }
    .section-2-all{
        grid-template-columns: repeat(2,1fr);
    }
    .section-5-all{
        flex-direction: column;
    }
    .footer-items{
        grid-template-columns: repeat(1,1fr);
    }
}

/* tab responsive style end */

/* responsive for mobile */

@media screen and (max-width:576px) {
    body{
        
    }
    .nav-menu{
        display: block;
    }
    #nav-ul{
        display: none;
    }
    .banner{
        width: 100%;
        flex-direction: column;
        /* align-items: center; */
    }
    .header-btns{
        grid-template-columns: repeat(2,1fr);
    }
    .section-2-all{
        grid-template-columns: repeat(1,1fr);
    }
    .section-2-img{
        margin-bottom: 30px;
    }
    .section-2-items{
        margin-bottom: 40px;
    }
    .section-3-all{
        padding: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section-3-items{
        align-items: center;
    }
    .section-3-btn{
        margin: 0 auto;
    }
    .section-3-img{
        margin-right: 70px;
        margin-bottom: 35px;
    }
    
    .section-3-img>img{
        width: 100%;
        height: 170px;
        object-fit: cover;
    }
    .section-3-img{
        margin-top: 30px;
        border-radius: 18px;
        object-fit: cover;
    }
    .section-5-all{
        /* width: 100%; */
        flex-direction: column;
        align-items: center;
    }
    .calculate{
        width: 100%;
    }
    .form-box{
        width: 100%;
        /* max-width: 554px; */
        grid-template-columns: repeat(2,1fr);
        /* align-items: center; */
    }
    
    input{
        width: auto;
        height: 48px;
        background: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.6);
        border: none;
        outline: none;
        border-radius: 8px;
        padding: 10px;
    }
    select{
        width: auto;
    }
    
    .section-6-teammates{
        grid-template-columns: repeat(1,1fr);
    }
    .footer-items{
        grid-template-columns: repeat(1,1fr);
    }
    .get-started{
        grid-template-columns: repeat(1,1fr);
    }
    .glass-1{
        position: absolute;
        right: 150px;
        bottom: 250px;
        width: 193px;
        height: 98px;
        padding: 8px;
        display: flex;
        justify-content: center;
        gap: 12px;
        align-items: center;
        background-color: rgba(48, 48, 48, 0.54);
        backdrop-filter: blur(4px);
        border-radius: 12px;
    }
    .glass-2{
        position: absolute;
        right: 0;
        bottom: 430px;
        width: 150px;
        height: 98px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(4px);
        border-radius: 12px;
    }
    
}


/* moble responsive end */
